@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Mockups</h1>
    <ul>
        <li><a asp-controller="Home" asp-action="Quiz">Quiz</a></li>
        <li><a asp-controller="Home" asp-action="Result">Result</a></li>
    </ul>
</div>
