@{
    ViewData["Title"] = "Quiz";
}

<div>
    <h1>Quiz</h1>
    <form method="post">
        <div>
            <p>@ViewBag.Question</p>
        </div>
        <div>
            <input name="answer" style="width:300px;"/>
        </div>
        <br/>
        <div>
            <input name="next" type="submit" formaction="~/Home/Next" value="Next" class="btn btn-secondary" />
            <input name="finish" type="submit" formaction="~/Home/Finish" value="Finish" class="btn btn-primary" />
        </div>
    </form>
</div>